*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(135deg,#4664ff,#536dfe);
    min-height:90vh;
    padding: 30px;
}
h1{
    color: darkblue;
    text-align: center;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
}
.rounded{
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px auto;
    width: 100%; 
}
.side{
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    width: 300px;
}
.form{
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: solid lightgray 3px;
    border-radius: 20px;
    width: 700px;
    margin: auto;
}
.button{
    border-radius: 10px;
    color: white;
    background-color: rgb(30, 0, 255);
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    width: 300px;
}
.radio{
    margin-right: 20px;
}
